body{
    background-color: #0ca789;
    margin: 0px;
}

nav{
    text-align: center;
    padding-top: 2px;
    border-bottom: 2px solid;
    background-color: white;
}

nav ul li{
    display: inline;
    margin: 5px;
    background-color: white;
    font-size: 32px;
    padding-left: 6%;
    padding-right: 6%;

}

.playBoard{
    background-color: #35654d;
    border: 1px solid black;
    height: 600px;
    width: 1200px;
    margin: 50px auto;
}

.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.form input{
border-radius: 10px;
border-color: black;

}
.account_details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

#Game-Container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

#Difficulties {
    width: 35%;
}

#Difficulties > select {
    width: fit-content
}

#Play-Area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#Timer {
    margin-bottom: 20px;
}

#Cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 20px;    
}

.Playing-Card {
    height: auto;
    width: 100px;
}

#Scores-And-Level {
    display: flex;
    justify-content: end;
    width: 35%;
}
