body{
    background-color: #0ca789;
    margin: 0px;
}

nav{
    text-align: center;
    padding-top: 2px;
    border-bottom: 2px solid;
    background-color: white;
}

nav ul li{
    display: inline;
    margin: 5px;
    background-color: white;
    font-size: 32px;
    padding-left: 6%;
    padding-right: 6%;

}

.playBoard{
    background-color: #35654d;
    border: 1px solid black;
    height: 600px;
    width: 1200px;
    margin: 50px auto;
}