body{
    background-color: #0ca789;
}

nav{
    text-align: center;
    border: 2px solid;
    background-color: white;
}

nav ul li{
    display: inline;
    margin: 5px;
    background-color: white;
    font-size: 32px;
    padding-left: 8%;
    padding-right: 8%;

}

.playBoard{
    background-color: #35654d;
}